<section class="section section-lg light-bg pb-20 ">
    <div class="container py-lg-0 pb-20">
        <div class="row justify-content-center">
           <div class="col-lg-12 text-center">
                <h1 class=" header-text">What We're proviide</h1>  
           </div> 
         </div>
          
    </div>
    <div class="container pb-20">        
        <div class="row">
              <!--<div class="d-flex px-3">
               <!-- <div>
                  <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                    <i class="ni ni-building text-primary"></i>
                  </div>
                </div> -->
      
               <div class="col-lg-4">
                  <div class="icon icon-lg-justify icon-shape bg-gradient shadow rounded-circle">
                      <i class="ni ni-building text-primary"></i>
                    </div>
                  <h4 class="header-text-lists ">Fundamentals training</h4>
                  <p class="para-text">We will teach you deep informations regarding fundamental analysis.</p>
                </div>
            <!-- </div>  -->
      
            <!-- <div class="d-flex px-3"> -->
                  <!-- <div>
                    <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="ni ni-building text-primary"></i>
                    </div>
                  </div> -->
        
                  <div class="col-lg-4">
                      <div class="icon icon-lg-justify icon-shape bg-gradient shadow rounded-circle">
                          <i class="ni ni-building text-primary"></i>
                        </div>
                    <h4 class=" header-text-lists">Technicals Training</h4>
                    <p class="para-text">We are expertise in providing wide knowledge about technicals of sharemarket.</p>
                  </div>
            <!-- </div> -->
      
      
            <!-- <div class="d-flex px-3"> -->
                    <!-- <div>
                      <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                        <i class="ni ni-building text-primary"></i>
                      </div>
                    </div> -->
          
                    <div class="col-lg-4">
                        <div class="icon icon-lg-justify icon-shape bg-gradient shadow rounded-circle">
                            <i class="ni ni-building text-primary"></i>
                          </div>
                      <h4 class="header-text-lists ">Derivatives</h4>
                      <p class="para-text">Futures and options are two popular derivatives in the capital market.we provide 30 + strategies in our trading derivatives.</p>
                    </div>
            <!-- </div> -->
      
        </div>
     </div>
</section>  
        
        
       