<section class="section section-lg pb-0 bg-gradient">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-lg-2 ml-lg-auto">
        <div class="position-relative pl-md-5">
          <img src="./assets/img/brand/argon-white.png" class="img-center img-fluid">
        </div>
      </div>

      <div class="container py-lg-md d-flex">
         
          <div class="col px-0">
              <h1 class="text-white justify-content-left">What We Provide</h1>
                
              

              </div>

              </div>
      <div class="col-lg-6 order-lg-1">
        <div class="d-flex px-3">
          <div>
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="ni ni-building text-primary"></i>
            </div>
          </div>

          <div class="pl-4">
            <h4 class="display-3 text-white justify-content-right">Fundamentals training</h4>
            <p class="text-white justify-content-center">We will teach you deep informations regarding fundamental analysis.</p>
          </div>
        </div>

        <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
  
            <div class="pl-4">
              <h4 class="display-3 text-white justify-content-right">Technicals Training</h4>
              <p class="text-white justify-content-center">We are expertise in providing wide knowledge about technicals of sharemarket.</p>
            </div>
          </div>


        <div class="d-flex px-3">
              <div>
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-building text-primary"></i>
                </div>
              </div>
    
              <div class="pl-4">
                <h4 class="display-3 text-white justify-content-right">Derivatives</h4>
                <p class="text-white justify-content-center">Derivatives are financial securities that don’t have an independent value and rely on the value of an underlying asset. Futures and options are two popular derivatives in the capital market.we provide 30 + strategies in our trading derivatives.</p>
              </div>
            </div>

        


      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>