

.para-text{
    text-align:justify;

    font-weight: 300;
    font-size:14px
}


.header-text{
    text-align:center;
    font-weight: 600;
    font-size: 36px
}


.header-text-lists{
    text-align:center;
    font-weight: 300;
    font-size: 25px
}