<section class="section section-lg section-nucleo-icons light-bg pb-250">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">We’re Changing the Way You Work with Share Market and Investments</h2>
        <p class="lead row justify-content-center">
          We have more than a decade of experience in training stock market traders/investors. All our training contents are carefully developed after profound research, which will help the learners understand the concepts of trading very easily and quickly.

Our training includes Live online Training with experienced instructors, Relationship Manager assistance & Life time support.
        </p>
        <div class="btn-wrapper">
          <a href="#paper-kit" class="btn btn-about btn-round" [routerLink]="['/About-us']">See more</a>
        </div>
      </div>
    </div>
     </div>
</section>
