<!-- 
<section class="section section-header-shape">
  <div class="shape shape-style-1 shape-navbar">
  </div>
</section> -->

<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped pb-1">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
      </div>
        <div class="container pb-1">
          <div class="row justify-content-between-align-items-left">

              <div class="col-md-6 order-lg-2 ml-lg-auto">
                  <div class="position-relative pl-md-5">
                    <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
                  </div>
                </div>




            <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="./assets/img/brand/argon-white.png" style="width: 200px;" class="img-fluid">
              <p class="lead mt-6 hi-text">Build a successful career and make a full time or part-time income in financial markets with the help of our teaching methods. We believe in making money consistently, So keeping that in mind, we have designed our trading strategies & concepts so that the money you have earned gets the value it deserves. Not only rookies but we also welcome struggling trades or investors who spent time in trading but still looking for a consistent profitable strategy to grow their money.</p>
              <div class="btn-wrapper mt-5">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Angular</span>
                </a>
              </div>
            </div>


           


            <!-- <div class="col-lg-6 mb-lg-auto">
              <div class="rounded shadow-lg overflow-hidden transform-perspective-right ">
                <ngb-carousel>
                    <ng-template ngbSlide>
                      <img class="img-fluid" src="assets/img/theme/img-1-1200x1000.jpg" alt="First slide">
                    </ng-template>
                    <ng-template ngbSlide>
                      <img class="img-fluid" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
                    </ng-template>
                </ngb-carousel>
              </div>
            </div> -->
          </div>
        </div>
      
      <!-- SVG separator -->
     
    </section>
  </div>
  <app-sections></app-sections>
</main>
